@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Regular.eot');
    src: local('TT Norms Regular'), local('TTNorms-Regular'),
        url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Regular.woff') format('woff'),
        url('../fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Medium.eot');
    src: local('TT Norms Medium'), local('TTNorms-Medium'),
        url('../fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Medium.woff') format('woff'),
        url('../fonts/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "TT Norms";
    color: #14171A;
}

.line {
    display: block;
    height: 1px;
    background-color: #E8E8E9;
    width: 100%;
}

.wrapper {
    max-width: 1280px;
    min-width: 375px;
    margin: 0 auto;
}
.wrapper__container {
    padding: 11% 20px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.slider__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
    align-items: center;
    position: relative;
}
.slick-slide {
    outline: none;
}


.slider-top {
    width: 84%;
}

.slider-top .slick-track {
    display: flex;
    align-items: center;
    position: relative;
    height: 130px;
}

.slider-top .slick-track::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    z-index: 0;
}

.slider-top__item {
    margin: 0 150px 0 0;
    width: 56px;
    height: 56px;
    border: 2px solid #14171A;
    z-index: 100;
    position: relative;
    transition: all .4s ease;
}
.slider-top__item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-top__item.slick-current {
    width: 72px;
    height: 72px;
}

.slider-top__caption {
    position: absolute;
    top: 100%;
    margin: 15px 0 0 0;
    font-size: 13px;
    font-weight: 500;
    width: 90px;
    color: #14171A;
}

.slider-buttons {
    min-width: 110px;
    width: 16%;
    display: flex;
    position: relative;
}

.slider-buttons::before {
    content: "";
    display: block;
    width: 100vw;
    height: 2px;
    background-color: #000;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 100%;
    margin-top: -1px;
}

.slider-buttons .slick-arrow {
    width: 56px;
    height: 56px;
    border: 2px solid #14171A;
    outline: none;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    transition: all .4s ease;
}
.slider-buttons .slick-arrow svg path {
    transition: all .4s ease;
}

.slider-buttons .slick-arrow:hover:not(.slick-disabled) {
    border-color: #0054A6;
    z-index: 100;
}

.slider-buttons .slick-arrow:hover:not(.slick-disabled) svg path {
    stroke: #0054A6;
}

.slider-buttons .slick-disabled {
    border-color: #E8E8E9;
}
.slider-buttons .slick-disabled svg path {
    stroke: #E8E8E9;
}

.slider-buttons .slick-prev {
    margin: 0 -2px 0 0;
}

.slider-buttons .slick-next {
    transform: scale(-1);
}


.slider__bottom {
    margin: 50px 0 0 0;
    position: relative;
}

.slider__counter {
    position: absolute;
    right: 0;
    top: 10px;
}

.slider-counter {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    color: #B8B9BA;
}
.slider-counter__separator {
    margin: 0 10px;
}

.slider-bottom__item-top {
    display: flex;
    margin-bottom: 60px;
}
.slider-bottom__img {
    width: 300px;
    height: 210px;
    object-fit: cover;
    margin-right: 32px;
    border: 2px solid #14171A;
}
.slider-bottom__heading {
    line-height: 1;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 16px;
}
.slider-bottom__desc {
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
}

.slider-bottom__item-caption {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 16px;
}
.slider-bottom__flag {
    margin: 0 16px 0 8px;
}
.slider-bottom__line {
    flex: 1;
}

.slider-mobile-panel {
    display: none;
}

@media (max-width: 767.98px) {
    .wrapper__container {
        padding: 5% 0;
    }
    .slider__top {
        padding: 0 0 0 20px;
    }
    .slider__bottom,
    .slider-mobile-panel {
        padding: 0 20px;
    }
    .slider-top {
        width: 100%;
    }
    .slider-top .slick-track {
        /* height: 300px; */
        height: auto;
    }
    .slider-top__item {
        width: 300px;
        height: 200px;
        margin: 0 35px 0 0;
    }
    .slider-top__item.slick-current {
        width: 300px;
        height: 200px;
    }
    .slider-top__caption {
        display: none;
    }
    .slider-buttons {
        display: none;
    }
    .slider-buttons::before {
        display: none;
    }
    .slider__counter {
        top: 100%;
        margin: 50px 0 0 0;
        left: 20px;
    }
    .slider__bottom {
        margin: 10px 0 0 0;
    }
    .slider-bottom__item-top {
        margin-bottom: 30px;
    }
    .slider-bottom__img {
        display: none;
    }
    .slider-mobile-panel {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-top: 30px;
    }
    .slider-mobile-panel .slider-buttons {
        display: flex;
    }
}